<%= render "/shared/navbar" %>
<div class="container" style="margin-top:2rem;">
  <h1 style="margin-bottom: 1rem;">Restaurants#index</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @restaurants.each do |restaurant| %>
      <div class="col">
        <%= link_to restaurant_path(restaurant), class: "text-decoration-none" do %>
          <div class="card">
            <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= restaurant.name %></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"><%= restaurant.category.capitalize %></h6>
              <p class="card-text">
                <i class="fa-regular fa-address-book"> </i> <%= restaurant.address %><br>
                <i class="fa-solid fa-phone"></i> <%= restaurant.phone_number %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
